*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #000;
    padding: 25px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}
.nav__wrapper{
    display: flex;
}
.nav__wrapper a{
    margin-right: 50px;
    display: block;
}

main{
    background: url("img/bg.jpg") no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.main__wrapper{
    width: 1100px;
    margin: 0 auto;
}
.logo{
    text-align: center;
}
.description{
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.info, .contacts{
    width: 1100px;
    margin: 0 auto 50px;
    background-color: #fff;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.info>div{
    width: 50%;
}